/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500&display=swap');

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
}

.inicio__container {
    color: white;
}

.inicio--video-fundo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    position: fixed;
}

.inicio__container--menu {
    padding: 25px 25px 0 25px;
    font-size: 18px;
}

.inicio__container--menu a {
    color: white;
    margin: 8px;
    padding: 10px;
    font-weight: 500;
    border-radius: 10px;
    text-decoration: none;
}

.inicio__container--menu a:hover {
    color: #f04183;
    background-color: white;
    border-radius: 10px;
}

.inicio--banner__container {
    padding: 50px;
}

.inicio--banner__container>h2,
h4 {
    font-size: 430%;
    margin: 0;
}

.inicio--banner__container>h2 {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.inicio--banner__container button {
    color: #f04183;
    background-color: white;
    border: none;
    padding: 20px 40px;
    text-align: center;
    font-weight: 500;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
}

.inicio--banner__container button:hover {
    color: white;
    background-color: #f04183;
    border-radius: 10px;
}

.sobre__container {
    background-color: white;
    padding: 70px;
    text-align: center;
}

.sobre__container i {
    font-size: 50px;
    color: #f04183;
}

.sobre__container p {
    font-size: 35px;
    color: #f04183;
}

.habilidades__container {
    height: 100%;
    padding: 80px;
    background-color: #f04183;
}

.projetos__container {
    height: 100%;
    background-color: white;
    color: #f04183;
    padding: 50px;
    text-align: center;
}

.projetos__container img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #f04183;
    margin: 10px;
}

.projetos__container--aviso {
    background-color: #f04183;
    color: white;
    border-radius: 50px;
    padding: 15px;
    font-size: 15px;
    width: 500px;
    margin: 20px;
}

.contato__container {
    height: 100%;
    background-color: #f04183;
    color: white;
    padding: 50px;
}

.rodape__container {
    height: 100%;
    background-color: white;
    color: #f04183;
    text-align: center;
}

.topo {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: 2px solid #f04183;
    outline: none;
    background-color: white;
    color: #f04183;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

.topo:hover {
    background-color: #f04183;
    color: white;
    border: 2px solid white;
}

@media only screen and (max-width: 1000px) {
    .inicio--banner__container>h2,
    h4 {
        font-size: 230%;
    }
    .inicio--banner__container button {
        margin: 10px 0 0 0;
    }
    .sobre__container p {
        font-size: 20px;
        color: #f04183;
    }
    .projetos__container--aviso {
        padding: 10px;
        font-size: 8px;
        width: 400px;
        margin: 15px;
    }
}

@media only screen and (max-width: 430px) {
    .inicio--banner__container button {
        padding: 10px 20px;
        font-size: 10px;
    }
    .inicio--banner__container>h2,
    h4 {
        font-size: 130%;
    }
    .projetos__container--aviso {
        padding: 8px;
        font-size: 7px;
        width: 200px;
        margin: 10px;
    }
}


/* Customização Bootstrap */
/* Habilidade */
.progress-bar {
    background-color: #f04183;
    border-radius: 0.25rem;
}

.progress {
    padding: 2px;
}
/* Fim: Habilidade */

/* Contato */
.valid-feedback {
    color: white;
}

.invalid-feedback {
    color: white;
}
/* Fim: Contato */

/* Formulário */
.form-control {
    border-radius: 20px;
}

.btn-primary {
    color: #f04183;
    background-color: white;
    border-color: white;
}

.btn-primary:hover {
    color: white;
    background-color: #f04183;
    border-color: white;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: #f04183;
    background-color: white;
    border-color: white;
    box-shadow: 0 0 0 0.2rem rgb(49 132 253 / 50%);
}
/* Fim: Formulário */
